/*.text {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 4px 4px 0px #75512f;
}
*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f8f8;
	border-style: solid;
	border-color: #e7e7e7; 
	border-width: 2px 2px 2px 2px;
	border-radius: 5px;
    color: black;
    text-align: center;
}